.chart-block {
  min-height: 50vh;
  padding: 0 5px;
  position: relative;
}

.chart-block p {
  text-align: center;
  font-size: 12pt;
  color: #666;
}

.chart-block .chart-container {
  position: relative;
  height: auto;
  padding: 10px 0;
  max-width: 1200px;
  margin: 20px auto 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.chart-block .chart-container select {
  float: right;
  margin-right: 10px;
}

.chart-block ul.legend {
  float: left;
  margin-left: 60px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  padding: 0;
}

.chart-block ul.legend li {
  display: block;
  margin-bottom: 5px;
}

.chart-block ul.legend li .marker {
  width: 25px;
  height: 15px;
  float: left;
  margin-right: 5px;
}

.chart-block ul.legend li .marker.red {
  background-color: #f44b4f;
}

.chart-block ul.legend li .marker.rose {
  background-color: #fbb9b8;
}
